.block {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5px;
    color: red;
    box-sizing: content-box;
    border: 1px solid;
    border-color: black;
    overflow: scroll;
    background-color: antiquewhite;
}

.wrap {
    width: 100%;

}

.vertical{
    display: block;
    float: left;
    top: 30px;
    width: 300px;
    border-color: red;
    border-width: 1px;
    overflow-y: auto;
    border: 2px solid yellow;
    margin-right: 10px;
}

.vertical .horisontal{
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    font-family: Verdana;
    height: 100px;
    border-color: green;
    border-width: 1px;
    border-style: dashed;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: orange;
}

.fixedBlock{
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    width: 300px;
}

.fixedBlock ul{
    height: 100px;
    overflow-y: scroll;
}